<!doctype html>
<html>

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    body
            h1 문제
                select#language(name='language') 
                    option(name='1') C
                    option(name='2') C++
                    option(name='3') Java
                p
                textarea#code(style='resize:none; width:400px; height:300px;' name='code')
                p
                input#output(type='text' name='output' style='resize:none; width:400px; height:50px;' readonly='readonly')
                p
                input#ajax_post(type = 'button' value='제출하기' class='ajaxsend')
                p
                script.
                    document.querySelector('.ajaxsend').addEventListener('click',function(){
                        sendAjax('http://localhost:3000/form_receive',code.value);
                    })    
                    function sendAjax(url,data,language){
                        var data = {'code': data};
                        data = JSON.stringify(data);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST',url,true);
                        xhr.setRequestHeader('Content-type','application/json');    
                        xhr.send(data);
 
                        xhr.addEventListener('load',function() {
                            var result = JSON.parse(xhr.responseText);
                            if(result.result !='ok')return;
                            document.getElementById('output').value=result.output;
                        });
                    }
                    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
                p
</html>