<!DOCTYPE html>
<html>

<head>
  <title>코드위의 야생마</title>
</head>

<body>
<nav>
  <ul class = "nav-container">
      <li class = "nav-item"> <a href="/"> 메인 </a> </li>
      <li class = "nav-item"> <a href="/login"> 로그인 </a> </li>
      <li class = "nav-item"> <a href="/signup"> 회원가입 </a> </li>
      <li class = "nav-item"> <a href="/code_write"> 코드입력 </a> </li>
      <li class = "nav-item"><a href ="/admin"> 어드민페이지</a></li>
      <li class = "nav-item"><a href="/test_h">홍구의 테스트</a></li>
  </ul>
</nav>
  <h1>코더가든 데모</h1>
  <h2>Web Site Main Ingredients:</h2>

  <p>Pages (HTML)</p>
  <p>Style Sheets (CSS)</p>
  <p>Computer Code (JavaScript)</p>
  <p>Live Data (Files and Databases)</p>

</body>
</html>