/*전체 그리드*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.box1 {
    background-color: white;
    position:fixed;
    width:90%;
    height:70px;
    padding-left:5%;
    padding-right:5%;
    display : grid;
    grid-template-colums:3fr;
    grid-column: 1/4;
    border-bottom : 1px solid lightgrey;
}
.box2 {
    font-size : 14px;
    grid-column: 1/4;
    background-color: white;

    margin-bottom:0;

}

body{
    margin:0px;
}
/*전체 그리드*/

/*box1 part*/
.box1_logo{
    grid-column:1/3;
}
.box1_nav_items{
    grid-column:3/4;
    text-align : right;
    padding-top: 25px;
    padding-right: 50px;
}
#logo{
    height:35%;
    padding-top: 23px;
    padding-left: 50px;
}
.button {
    background-color: rgba(255,255,255,0);
    font-size: 20px;
    border : none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding:5px;
}
.button:hover {
    border-bottom : 2px solid grey;
    color : grey;
}


/*box1 part*/

/*popup signup&signin part*/
.popup_signin {
    display:grid;
    text-align: center;
    grid-template-rows: 20% 35% 2% 35% 8%;
    height:650px;
    background-color: white;
    font-size : 30px;
    margin: 70px auto;
    padding: 28px;
    padding-bottom: 32px;
    /*background: #fff;*/
    border-radius: 5px;
    width: 450px;
    transition: all 1s ease-in-out;
}
.popup_signup {
    display:grid;
    text-align: center;
    grid-template-rows: 20% 35% 2% 35% 8%;
    height:650px;
    background-color: white;
    font-size : 30px;
    margin: 70px auto;
    padding: 28px;
    padding-bottom: 32px;
    /*background: #fff;*/
    border-radius: 5px;
    width: 450px;
    transition: all 1s ease-in-out;
}
.popup_signin .content1{
}
.content1_1{
    text-align:right;
}
.content1_2{
    text-align:center;
}
.content1_2 img{
    height:55px;
}
.content2{
    text-align:center;
}
.content3{
    margin-left:10%;
    width:80%;
    margin-top:3px;
    color:grey;
    font-size:13px;
    display:grid;
    grid-template-columns: 5fr 1fr 5fr;
    text-align:center;
}
.content3 hr{
    border:1px solid lightgrey;
}
.content4{
    text-align:center;
}
.content4 p{
    color:grey;
    margin-right:10%;
    text-align:right;
    font-size:13px;
}
.content5{
    color:grey;
    font-size:13px;
    text-align:center;
}
.texts{
    border : none;
    border-bottom:1px solid grey;
    margin-top:5%;
    width:80%;
    height:40px;
}

.popup_signup_btn:hover{
    background-color: rgb(220,167,93);
    color:black;
}
.popup_signin_btn:hover{
    background-color: rgb(220,167,93);
    color:black;
}
.popup_signin_btn {
    text-align:center;
    margin-top : 10px;
    background-color : rgb(106,128,170);
    font-size : 20px;
    width:80%;
    height:50px;
    border : none;
    border-radius : 2opx/50px;
    color:white;
}
.popup_signup_btn2 {
    text-align:center;
    margin-top : 35px;
    background-color : rgb(106,128,170);
    font-size : 20px;
    width:80%;
    height:50px;
    border : none;
    border-radius : 2opx/50px;
    color:white;
}
.popup_signup_btn {
    text-align:center;
    margin-top : 10px;
    background-color : grey;
    font-size : 20px;
    width:80%;
    height:50px;
    border : none;
    border-radius : 2opx/50px;
    color:white;
}
.close {
    margin-right:10px;
    background-color: white;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}
.close:hover {
  color: orange;
}
.popup_signup_btn2:hover {
    color: black;
    background-color : rgb(220,167,93);
}
.pop_btn:hover {
  background:orange;
  color:black;
}
.popup_signin .close {
    margin-right:10px;
    background-color: white;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}
.popup_signin .close:hover {
  color: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);

  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/*popup signup&signin part*/

/*popup guide*/
.popup_guide{
    display:grid;
    text-align: center;
    grid-template-rows: 15%  70% 12% 3%;
    background-color: white;
    font-size : 30px;
    margin: 70px auto;
    padding: 28px;
    padding-bottom: 32px;
    /*background: #fff;*/
    border-radius: 5px;
    width: 50%;
    height:70%;
    transition: all 1s ease-in-out;
}
.guide_content1{
}
.guide_content2{
    text-align:center;
    font-size:15px;
    height:100%;
}
.guide_content2 img{
    height:100%;
}
.guide3_img{
    max-width: 100%;
    height: auto;
    display: block;
}
.guide_content1_1{
    text-align:right;
}
.guide_content3{
    margin-top:15px;
    font-size:13px;
}
.guide_content4{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.left_btn{
    text-align:left;
    background-color:rgba(255,255,255,0);
}
.right_btn{
    text-align:right;
    background-color:rgba(255,255,255,0);
}
.guide_btn{
    background-color:rgba(255,255,255,0);
    border:none;
    font-size:30px;
}
.guide_btn:hover{
  color: orange;
}
/*popup guide*/


/*box2 part*/
.main_info_1{
    margin:0px;
    width:100%;
    border:none;
}

.main_info_li{
    margin-left: 8%;
    margin-top : 5%;
    width : 80%;
}

.main_info_3{
    margin:0px;
    margin-top:10%;
    width:100%;
    border:none;
}
/*box2 part*/



/**{margin:0; padding:0;}*/
/*    ul,li{list-style:none;}*/
/*    .slide{height:300px;}*/
/*    .slide ul{width:calc(100% * 4);display:flex;animation:slide 12s infinite;} !* slide를 8초동안 진행하며 무한반복 함 *!*/
/*    .slide li{width:calc(100% / 4);height:900px;}*/
/*    .slide li:nth-child(1){background-image:url("./item1.png"); object-fit: cover;}*/
/*    .slide li:nth-child(2){background-image:url("./item2.png"); object-fit: cover;}*/
/*    .slide li:nth-child(3){background-image:url("./item3.png"); object-fit: cover;}*/
/*    .slide li:nth-child(4){background-image:url("./item4.png"); object-fit: cover;}*/
/*    @keyframes slide {*/
/*      0% {margin-left:0;} !* 0 ~ 10  : 정지 *!*/
/*      10% {margin-left:0;} !* 10 ~ 25 : 변이 *!*/
/*      25% {margin-left:-100%;} !* 25 ~ 35 : 정지 *!*/
/*      35% {margin-left:-100%;} !* 35 ~ 50 : 변이 *!*/
/*      50% {margin-left:-200%;}*/
/*      60% {margin-left:-200%;}*/
/*      75% {margin-left:-300%;}*/
/*      85% {margin-left:-300%;}*/
/*      100% {margin-left:0;}*/
/*    }*/