/*전체 그리드*/
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 100px 950px 200px;
    grid-gap: 10px;
    padding-left:10%;
    padding-right:10%;
}

.box1 {
    display : grid;
    grid-template-colums:3fr 1fr;
    grid-column: 1/4;
    /*border-bottom : 4px solid rgb(252,217,181);*/
}
.box2 {
    font-size : 14px;
    /*border : 4px solid rgb(252,217,181);*/
    grid-column: 1/4;
    background-color: white;
}
.box3 {
    font-size:13px;
    grid-column: 1/4;
    border : 4px solid rgb(252,217,181);
}
/*전체 그리드*/

/*box1 part*/
.box1_logo{
    grid-column:1/3;
}
.box1_nav_items{
    grid-column:3/4;
    text-align : right;
    padding-top: 25px;
    padding-right: 50px;
}
#logo{
    height:50%;
    padding-top: 25px;
    padding-left: 50px;
}
.button {
    background-color: white;
    font-size: 23px;
    border : none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding:17px;
}
.button:hover {
    border-bottom : 2px solid grey;
    color : grey;
}


/*box1 part*/

/*popup part*/
.popup_signin {
    display:grid;
    text-align: center;
    grid-template-rows: 20% 35% 2% 43%;
    height:650px;
    background-color: white;
    font-size : 30px;
    margin: 70px auto;
    padding: 30px;
    /*background: #fff;*/
    border-radius: 5px;
    width: 450px;
    transition: all 1s ease-in-out;
}
.popup_signin .content1{
}
.content1_1{
    text-align:right;
}
.content1_2{
    text-align:center;
}
.content1_2 img{
    height:55px;
}
.content2{
    text-align:center;
}
.content3{
    background-color: red;
    width:80%;
    margin-top:3px;
    color:red;
    font-size:15px;
    display:grid;
    grid-template-columns: 5fr 1fr 5fr;
    text-align:center;
}
.content3 hr{
    border:1px solid lightgrey;
}
.content4{
    background-color: black;
    text-align:center;
}
.texts{
    border : none;
    border-bottom:1px solid grey;
    margin-top:5%;
    width:80%;
    height:40px;
}
.popup_signup {
    background-color:red;
    font-size : 30px;
    margin: 70px auto;
    padding: 30px;
    /*background: #fff;*/
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
}
.popup_signin_btn {
    margin-top : 10px;
    background-color : rgb(106,128,170);
    font-size : 20px;
    width:80%;
    height:50px;
    border : none;
    border-radius : 2opx/50px;
    color:white;
}
.popup_signup_btn {
    margin-top : 10px;
    background-color : grey;
    font-size : 20px;
    width:80%;
    height:50px;
    border : none;
    border-radius : 2opx/50px;
    color:white;
}
.pop_btn:hover {
  background:orange;
  color:black;
}
.popup_signin .close {
    margin-right:10px;
    background-color: white;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}
.popup_signin .close:hover {
  color: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);

  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/*popup part*/



/**{margin:0; padding:0;}*/
/*    ul,li{list-style:none;}*/
/*    .slide{height:300px;}*/
/*    .slide ul{width:calc(100% * 4);display:flex;animation:slide 12s infinite;} !* slide를 8초동안 진행하며 무한반복 함 *!*/
/*    .slide li{width:calc(100% / 4);height:900px;}*/
/*    .slide li:nth-child(1){background-image:url("./item1.png"); object-fit: cover;}*/
/*    .slide li:nth-child(2){background-image:url("./item2.png"); object-fit: cover;}*/
/*    .slide li:nth-child(3){background-image:url("./item3.png"); object-fit: cover;}*/
/*    .slide li:nth-child(4){background-image:url("./item4.png"); object-fit: cover;}*/
/*    @keyframes slide {*/
/*      0% {margin-left:0;} !* 0 ~ 10  : 정지 *!*/
/*      10% {margin-left:0;} !* 10 ~ 25 : 변이 *!*/
/*      25% {margin-left:-100%;} !* 25 ~ 35 : 정지 *!*/
/*      35% {margin-left:-100%;} !* 35 ~ 50 : 변이 *!*/
/*      50% {margin-left:-200%;}*/
/*      60% {margin-left:-200%;}*/
/*      75% {margin-left:-300%;}*/
/*      85% {margin-left:-300%;}*/
/*      100% {margin-left:0;}*/
/*    }*/