<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{% static "js_pytutor/ace/src-min-noconflict/ace.js" %}"></script>
</head>
<body>
<div class="ace_scroller" style="left: 41px; right: 0px; bottom: 0px;">
    <div class="ace_content" style="margin-top: 0px; width: 659px; height: 320px; margin-left: 0px;">
        <div class="ace_layer ace_print-margin-layer">
            <div class="ace_print-margin" style="left: 580.1px; visibility: hidden;">

            </div>
        </div>
        <div class="ace_layer ace_marker-layer">

        </div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line" style="height:16px"></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 0px; width: 7.20125px; height: 16px;"></div></div></div></div>
</body>
</html>