<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">

    <script>
        var onScrollHandler = function()
        {
            var newImageUrl = document.getElementById("scroll_target").src;
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (scrollTop > 100)
            {
                newImageUrl = "../static/img/main_info_li_1.png";
            }
            if(scrollTop > 200)
            {
                newImageUrl = "../static/img/main_info_li_2.png";
            }
            document.getElementById("scroll_target").src = newImageUrl;
        };
        object.addEventListener ("scroll", onScrollHandler);

    </script>


</head>
<body>
<div class="wrapper">
    <div class="box1">
        <div class="box1_logo">
            <a href="/main_test/"><img id="logo" src="../static/img/codergarden_logo2.png" alt=""></a>
        </div>
        <div class="box1_nav_items" >
            <button class = "button" onclick="location.href = '/test_h'">CODE EDIT</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button class = "button" onclick="location.href='#popup1'">GUIDE</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class = "button" onclick="location.href='#popup1'">SIGN IN</button>
        </div>
    </div>
    <div class="box2">
        <!--로그인 및 회원가입 팝업 창-->
        <div id="popup1" class="overlay">
            <div class="popup_signin">
                <div class="content1">
                    <div class="content1_1">
                        <a class="close" href="#">×</a>
                    </div>
                    <div class="content1_2">
                        <img src="../static/img/codergarden_logo2.png" alt="">
                    </div>
                </div>
                <div class="content2">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" name="userid" placeholder="ID" class = "texts">
                        <br>
                        <input type="text" name="password" placeholder="PASSWORD" class = "texts">
                        <br><br>
                        <input type="submit" value="SIGN IN" class = "popup_signin_btn">
                        <br>
                    </form>
                </div>
                <div class="content3">
                    <div><hr></div>
                    <div>or</div>
                    <div><hr></div>
                </div>
                <div class="content4">
                    <button class = "popup_signup_btn" onclick="location.href='#popup2'">SIGN UP</button>
                    <p>아이디 찾기 | 비밀번호 찾기</p>
                </div>
                <div class="content5">
                    <hr>
                    <br>
                    Copyright&copy; Philip J. Guo (philip@pgbovine.net)<br>
                    Copyright&copy; CorderGarden Corp. All rights reserved.
                </div>
            </div>
        </div>
        <div id = "popup2" class = "overlay">
            <div class="popup_signup">
                <div class="content1">
                    <div class="content1_1">
                        <a class="close" href="#">×</a>
                    </div>
                    <div class="content1_2">
                        <img src="../static/img/codergarden_logo2.png" alt="">
                    </div>
                </div>
                <div class="content2">
                    <form method="POST" action="{% url 'signup' %}">
                         {% csrf_token %}
                        <input type="text" name="userid" placeholder="ID" class = "texts">
                        <br>
                        <input type="text" name="username" placeholder="USERNAME" class = "texts">
                        <br>
                        <input type="text" name="password" placeholder="PASSWORD" class = "texts">
                        <br>
                        <input type="text" name="confirm" placeholder="PASSWORD CONFIRM" class = "texts">
                        <br>
                        <input type="submit" value="SIGN UP" class = "popup_signup_btn2">
                    </form>
                </div>
                <div></div>
                <div></div>
                <div class="content5">
                    <hr>
                    <br>
                    Copyright&copy; Philip J. Guo (philip@pgbovine.net)<br>
                    Copyright&copy; CorderGarden Corp. All rights reserved.
                </div>
            </div>
        </div>
        <!--로그인 및 회원가입 팝업 창-->
        <img class="main_info_1" src="../static/img/main_info_1.png" alt="">
        <img class="main_info_li" src="../static/img/main_info_li_1.png" alt="">
        <img class="main_info_li" src="../static/img/main_info_li_2.png" alt="">
    </div>
    <div class="box3">
        <h1>GUIDE TO BEST CHOICE<br><br><br><br><br><br><br><br><br><br><br><br><br></h1>
    </div>
</div>
</body>
<footer>
</footer>
</html>