<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoderGarden</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edittor_style.css' %}">
    <link  rel = "stylesheet" href ="../static/codemirror/lib/codemirror.css " >
    <link  rel = "stylesheet" href ="../static/codemirror/theme/elegant.css " >
    <link  rel = "stylesheet" href ="../static/codemirror/theme/idea.css " >
    <link  rel = "stylesheet" href ="../static/codemirror/theme/base16-light.css " >
    <link rel = "stylesheet" href = "../static/codemirror/addon/fold/foldgutter.css">
    <link rel = "stylesheet" href = "../static/codemirror/addon/hint/show-hint.css">
    <link rel = "stylesheet" href = "../static/codemirror/addon/lint/lint.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src = "../static/codemirror/lib/codemirror.js"></script>
    <script src = "../static/codemirror/mode/python/python.js"></script>
    <script src = "../static/codemirror/addon/hint/show-hint.js"></script>
    <script src="../static/codemirror/addon/comment/comment.js"></script>
    <script src="../static/codemirror/addon/selection/active-line.js"></script>
    <script src="../static/codemirror/keymap/sublime.js"></script>
    <script src="../static/codemirror/addon/fold/foldcode.js"></script>
    <script src="../static/codemirror/addon/fold/foldgutter.js"></script>
    <script src="../static/codemirror/addon/fold/brace-fold.js"></script>
    <script src="../static/codemirror/addon/fold/indent-fold.js"></script>
    <script src="../static/codemirror/addon/fold/comment-fold.js"></script>
    <script src="../static/codemirror/addon/edit/closebrackets.js"></script>
    <script src="../static/codemirror/addon/edit/matchbrackets.js"></script>
    <script src = "../static/codemirror/addon/hint/python-hint.js"></script>
    <script>
        var el = document.getElementById("editor");
        var version = "# version: Python3\n\n";
        var codeAreaTip = "# please edit your code here:\n";
        var codeStart = "# code start\n\n";
        var codeEnd = "# code end\n\n";
        var code = "def solution():\n\tpass\n\n";
        var main = "if __name__ == '__main__':\n";
        var a = {{ code|safe }};
        var initValue = a[0];
    </script>
    <style>
        .bar {
            fill :gold;
        }

        .pivot1
        {
            fill:#008080;
        }
        .pivot2
        {
            fill:pink;
        }
        .pivot3
        {
            fill:mediumslateblue;
        }
        .d3text{
            fill : black;
            font-weight:bold;
            font-size : 14px;
        }
    </style>
    <script>
        function hide_codeedit(){
            console.log("!!!!!!!!");
            document.getElementById("hong").style.display = 'none';
            location.href='#popup3'
        }
        function unhide_codeedit(){
            console.log("!!!!!!!!");
            document.getElementById("hong").style.display = 'block';
        }
        function hide_codeedit_signin(){
            console.log("!!!!!!!!");
            document.getElementById("hong").style.display = 'none';
            location.href='#popup1'
        }
    </script>
</head>
<body>
<div class="wrapper">
    <div class="box1">
         <div class="box1_logo">
            <a href="/main_test/"><img id="logo" src="../static/img/codergarden_logo2.png" alt=""></a>
        </div>
        <div class="box1_nav_items" >
            <button class = "button" onclick="hide_codeedit()">GUIDE</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class = "button" onclick="hide_codeedit_signin()">SIGN IN</button>
        </div>
    </div>
    <div class="box2">
        <p>Python 3.8</p>
        <form action="/test2_h/">
            <div id="hong"><textarea class="cm_test" id = "code_editor" name="code"></textarea></div>
            <div id="confirm_btn">
                <div id="confirm_btn_box1"><img src="../static/img/orange.png" alt=""> &nbsp;line that just executed<br><img
                        src="../static/img/blue.png" alt=""> &nbsp;next line to excute</div>
                <div id="confirm_btn_box2"><p id="slider_value_view">step of</p></div>
                <div id="confirm_btn_box3"><button id="confirm_btn_real" type="submit">CONFRIRM</button></div>
            </div>
            <div class="slider_box" >
                <input id="slider" size=100 oninput='ShowSliderValue(this.value, 1)'  type="range" min='0' max='100' value='0'>
            </div>
        </form>
        <div id="control_box">
            <button id="processing" onclick="answer(this, 0, 0)">FIRST</button>
            <button onclick="answer(this, -1, 0)">PREV</button>
            <button id="PlayBtn" onclick="play(this)">PLAY</button>
            <button onclick="answer(this, 1, 0)">NEXT</button>
            <button onclick="answer(this, 100, 0)">LAST</button>
        <hr>
        </div>
        <div>
            <p id="explanation">
                <h4>How to use</h4>
                <span>First, edit your Python code in the code editor.</span><br>
                <span>Second, if you're done editing the code, press the CONFIRM button.</span><br>
                <span>Third, now your code is compiled. Control your code visualization with any of the five buttons below. <br>
                    (FIRST : Go to the first line of your code, PREV : Visualize the previous line of current code line,
                    PLAY : It automatically proceeds with code visualization from the current line to the last line,
                    NEXT : Visualize next line of current code line, LAST : Visualize the last line of your code.)</span><br><br>
                <span>Now enjoy code visualization. It will help you look at your code intuitively and improve learning efficiency.</span>
                <br><br>
                <h4>Guide line</h4>
                <span>First, Variable names for pivot must be set to pivot1, pivot2, and pivot3</span><br>
                <span>Second, Frames part shows what values the variables in the user's code have</span><br>
                <span>Third, Visualize part shows how the 'list' in the user's code changes. </span><br>
                <span>Fourth, The type of visualization chart color in the list <br> (YELLOW : the default, BLUE : the pivot, GREEN : the completion)  </span>
            </p>
        </div>
                <!--로그인 및 회원가입 팝업 창-->
         <div id="popup1" class="overlay">
            <div class="popup_signin">
                <div class="content1">
                    <div class="content1_1">
                        <a class="close" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="content1_2">
                        <img src="../static/img/codergarden_logo2.png" alt="">
                    </div>
                </div>
                <div class="content2">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" name="userid" placeholder="ID" class = "texts">
                        <br>
                        <input type="text" name="password" placeholder="PASSWORD" class = "texts">
                        <br><br>
                        <input type="submit" value="SIGN IN" class = "popup_signin_btn">
                        <br>
                    </form>
                </div>
                <div class="content3">
                    <div><hr></div>
                    <div>or</div>
                    <div><hr></div>
                </div>
                <div class="content4">
                    <button class = "popup_signup_btn" onclick="location.href='#popup2'">SIGN UP</button>
                    <p>아이디 찾기 | 비밀번호 찾기</p>
                </div>
                <div class="content5">
                    <hr>
                    <br>
                    Copyright&copy; Philip J. Guo (philip@pgbovine.net)<br>
                    Copyright&copy; CorderGarden Corp. All rights reserved.
                </div>
            </div>
        </div>
        <div id = "popup2" class = "overlay">
            <div class="popup_signup">
                <div class="content1">
                    <div class="content1_1">
                        <a class="close" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="content1_2">
                        <img src="../static/img/codergarden_logo2.png" alt="">
                    </div>
                </div>
                <div class="content2">
                    <form method="POST" action="{% url 'signup' %}">
                         {% csrf_token %}
                        <input type="text" name="userid" placeholder="ID" class = "texts">
                        <br>
                        <input type="text" name="username" placeholder="USERNAME" class = "texts">
                        <br>
                        <input type="text" name="password" placeholder="PASSWORD" class = "texts">
                        <br>
                        <input type="text" name="confirm" placeholder="PASSWORD CONFIRM" class = "texts">
                        <br>
                        <input type="submit" value="SIGN UP" class = "popup_signup_btn2">
                    </form>
                </div>
                <div></div>
                <div></div>
                <div class="content5">
                    <hr>
                    <br>
                    Copyright&copy; Philip J. Guo (philip@pgbovine.net)<br>
                    Copyright&copy; CorderGarden Corp. All rights reserved.
                </div>
            </div>
        </div>
        <!--로그인 및 회원가입 팝업 창-->
         <!--가이드 팝업 창-->
        <!--GUIDE POP UP 1-->
        <div id="popup3" class="overlay">
            <div class="popup_guide">
                <div class="guide_content1">
                    <div class="guide_content1_1">
                        <a class="close2" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="guide_content1_2">
                        GUIDE
                    </div>
                </div>
                <div class="guide_content2">
                    <img src="../static/img/guide1.png" alt="">
                </div>
                <div class="guide_content3">
                    <hr>
                    <strong>STEP1.</strong> 파이썬 코드를 코드에디터에 입력하세요.
                </div>
                <div class="guide_content4">
                    <div class="left_btn">
                    </div>
                    <div></div>
                    <div class="right_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3_2'">></button>
                    </div>
                </div>
            </div>
        </div>
        <!--GUIDE POP UP 2-->
        <div id="popup3_2" class="overlay">
            <div class="popup_guide">
                <div class="guide_content1">
                    <div class="guide_content1_1">
                        <a class="close2" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="guide_content1_2">
                        GUIDE
                    </div>
                </div>
                <div class="guide_content2">
                    <img src="../static/img/guide2.png" alt="">
                </div>
                <div class="guide_content3">
                    <hr>
                    <strong>STEP2.</strong> 코드 입력을 완료하면 아래의 CONFIRM 버튼을 누르세요. <br>
                    FIRST : 코드의 첫번째 라인으로 이동합니다. PREV : 현재 라인에서 이전 라인으로 이동합니다. PLAY : 현재 라인에서 마지막 라인까지 자동 재생합니다. NEXT : 현재 라인에서 다음 라인으로 이동합니다. LAST : 코드의 마지막 라인으로 이동합니다. <br>
                    추가적으로 슬라이더를 이용하여 라인을 이동할 수 있습니다.
                </div>
                <div class="guide_content4">
                    <div class="left_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3'"><</button>
                    </div>
                    <div></div>
                    <div class="right_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3_3'">></button>
                    </div>
                </div>
            </div>
        </div>
        <!--GUIDE POP UP 3-->
        <div id="popup3_3" class="overlay">
            <div class="popup_guide">
                <div class="guide_content1">
                    <div class="guide_content1_1">
                        <a class="close2" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="guide_content1_2">
                        GUIDE
                    </div>
                </div>
                <div class="guide_content2">
                    <img class="guide3_img" src="../static/img/guide3.png" alt="">
                </div>
                <div class="guide_content3">
                    <hr>
                    <strong>STEP3.</strong> 코드 에디터의 주황색 파트는 현재 실행 코드, 파란색 파트는 다음 실행 코드입니다. <br>
                    Frames는 해당 라인까지 읽어진 변수를 표현합니다. <br>
                    Visualize는 리스트의 변화를 시각적으로 보여줍니다.(Yellow: 기본, Green: pivot1로 설정된 index, Pink: pivot2로 설정된 index)
                </div>
                <div class="guide_content4">
                    <div class="left_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3_2'"><</button>
                    </div>
                    <div></div>
                    <div class="right_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3_4'">></button>
                    </div>
                </div>
            </div>
        </div>
        <!--GUIDE POP UP 4-->
        <div id="popup3_4" class="overlay">
            <div class="popup_guide">
                <div class="guide_content1">
                    <div class="guide_content1_1">
                        <a class="close2" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="guide_content1_2">
                        GUIDE
                    </div>
                </div>
                <div class="guide_content2">
                    <img class="guide3_img" src="../static/img/guide4.png" alt="">
                </div>
                <div class="guide_content3">
                    <hr>
                    <strong>STEP4.</strong> 추가적으로 pivot3으로 설정하면, 정렬이 완료된 리스트를 보라색 Bar로 시각화할 수 있습니다.
                </div>
                <div class="guide_content4">
                    <div class="left_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3_3'"><</button>
                    </div>
                    <div></div>
                    <div class="right_btn">
                    </div>
                </div>
            </div>
        </div>
        <!--GUIDE POP UP 5-->
        <div id="popup3_4" class="overlay">
            <div class="popup_guide">
                <div class="guide_content1">
                    <div class="guide_content1_1">
                        <a class="close" href="#" onclick="unhide_codeedit()">×</a>
                    </div>
                    <div class="guide_content1_2">
                        GUIDE
                    </div>
                </div>
                <div class="guide_content2">
                    <img class="guide3_img" src="../static/img/guide4.png" alt="">
                </div>
                <div class="guide_content3">
                    <hr>
                    <strong>STEP4.</strong> 추가적으로 pivot3으로 설정하면, 정렬이 완료된 리스트를 보라색 Bar로 시각화할 수 있습니다.
                </div>
                <div class="guide_content4">
                    <div class="left_btn">
                        <button class = "guide_btn" onclick="location.href='#popup3_3'"><</button>
                    </div>
                    <div></div>
                    <div class="right_btn">
                    </div>
                </div>
            </div>
        </div>
        <!--가이드 팝업 창-->
    </div>
    <div class="box3">
        <p id="answer_table_name">Frames</p>
        <div id="table_box">
            <p id="answer"></p>
        </div>
    </div>
    <div class="box4">
        <p id="visu_name">Visualize</p>
        <p id="visu">
        <p></p>
    </div>
</div>

<script>
    var editor = {
        mode :"python" ,
        keyMap: "sublime", // Fast key style
        value: "Test Default Value",
        theme : "idea",
        lineNumbers: true, // set number
        smartIndent: true, // smart indent
        indentUnit: 4, // Smart indent in 4 spaces
        indentWithTabs: true, // Smart indent with tabs
        lineWrapping: true, //
        // Add line number display, folder and syntax detector to the slot
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
        foldGutter: true, // Enable code folding in slots
        autofocus: true, // Autofocus
        matchBrackets: true, // Match end symbols, such as "],}"
        autoCloseBrackets: true, // Auto close symbol
        styleActiveLine: true, // Display the style of the selected row
        styleSelectedText: true,
    };
    var myTextArea = $(".cm_test").get(0);
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea, editor);
    myCodeMirror.setOption("value", initValue);

    // various visualization
    var a = {{ trace|safe }};
    var b = {{ code|safe }};
    var cnt = -1;
    var total_len = a.length;
    var prev_line = 0
    var prev_prev_line = 0;
    var is_playing = 0;
    var pivot3_list = []
    var pivot1;
    var pivot2;
    // various visualization
    function sleep(ms) {
        const wakeUpTime = Date.now() + ms;
        while (Date.now() < wakeUpTime) {}
    }
    //viusalizing list function _RK
    function visualizing(obj,num) {
        var pivot1;
        var pivot2;
        if(num==1){
            pivot3_list=[];
        }
        //delete all the svg when button onclick
        var svgdelete = document.getElementsByTagName("svg");
        if (svgdelete.length === 0){
            console.log("svg not detected");
        }
        else{
            for (var q = 0 ; q < svgdelete.length ; q ++){
                svgdelete[0].remove();
            }
        }

        var index = num;

        console.log("index(json line)Visuali() : " + index); // for test
        var target = {{trace|safe}};
        length = target[index].ordered_globals.length;  //how many variables we have in json line in index
        for (var i = 0 ; i < length ; i ++){
            //console.log("for i in " + i);
            var tmp = target[index].ordered_globals[i];   // get variable name
            var tmp2 = target[index].globals[tmp][1];   // can divide if it is int or list
            if (tmp2 === undefined){
                //console.log("now in int");
                var targetint = target[index].globals[tmp];
                //console.log(tmp + " : " + targetint);
                if (tmp === "pivot3"){pivot3_list.push(targetint);}
                //console.log("pivot3_list :::" + pivot3_list);
                if (tmp === "pivot1"){pivot1 = targetint;}
                if (tmp === "pivot2"){pivot2 = targetint;}
            }
            else{
                var targetarr = target[index].heap[tmp2];//get the list componenet

                //console.log("tmp2 : "+ tmp2);
                //console.log("targetarr : "+targetarr);
                //console.log("NOW TARGET : "+JSON.stringify(target[index]));

                var dataset = targetarr.slice(1);  //slice to use list data (not inclue key)

                var dd = document.getElementById(tmp); // 이미 있는 D3 list를 삭제.
                if (dd !== null){
                         dd.remove();
                }

                // if ( document.getElementsByTagName("h1").length === 6){//delete previous h1
                //     var toDelete = document.getElementsByTagName("h1");
                //     toDelete[0].remove();
                //     toDelete[0].remove();
                //     toDelete[0].remove();
                // }

                var width = 40*dataset.length + 100;
                var height = 300;
                var svg = d3.select("#visu").append("svg")  // insert svg in #visu (p)  (insert everyday not delete previous list)
                .attr("width", width)
                .attr("height",height)
                .attr("id",tmp);  //tmp is the name of variable

                var max = Math.max.apply(null,dataset);
                var adjust = 110/max;
                svg.append("text")
                .text(tmp)
                .attr("x",10)
                .attr("y",20)
                .attr("class","namefont");

                for ( var j = 0 ; j < dataset.length ; j ++){//set svg bar attribute
                    tmpClass = "bar";
                    //console.log("j :::" + j);
                    if (j === pivot1){
                        tmpClass = "pivot1";
                    }
                    if (j === pivot2){
                        tmpClass = "pivot2";
                    }
                    if (pivot3_list.includes(j)){
                        tmpClass = "pivot3";
                    }
                    var font_x = 10;
                    if (dataset[j]>=10)
                    {
                        font_x = 7;
                    }
                    if (dataset[j] >= 100)
                    {
                        font_x = 3;
                    }
                    if ( dataset[j] >= 1000)
                    {
                         font_x = -1;
                    }
                    svg.append("rect")
                        .attr("height", dataset[j]*adjust)
                        .attr("width",30)
                        .attr("x",40*j)
                        .attr("y",150-dataset[j]*adjust)
                        .attr("class",tmpClass);

                    svg.append("text")
                        .text(function(d){return dataset[j]})
                        .attr("data",dataset[j])
                        .attr("x",40*j + font_x)
                        .attr("y",163-dataset[j]*adjust)
                        .attr("class","d3text");
                }
             } // else list end
        }// for end
    }//fuction end

    function highlightText(obj,txt){
        var tokens = myCodeMirror.getLineTokens(obj-1,true);
        var len = tokens.length;
        console.log(tokens);
        var start = CodeMirror.Pos(obj-1, tokens[0].start);
        var end = CodeMirror.Pos(obj-1, tokens[len-1].end);
        var markOptions ={
                css: "background-color : "+txt,
        };
        var mark = myCodeMirror.markText(start, end, markOptions);
    }
    function processing(obj){
        var result = "<table> <thead><th>name</th> <th>value</th> <th>type</th><thead>";
        var len = obj.ordered_globals.length;
        for(var i=0; i<len; i++){
            if(obj.globals[obj.ordered_globals[i]][0]=="REF"){
                var part = "";
                var tmp = obj.ordered_globals[i];
                var tmp2 = obj.globals[tmp][1];
                var store=""
                console.log("!!!!!");
                console.log(typeof JSON.stringify(obj.heap[tmp2][1]));
                console.log(JSON.stringify(obj.heap[tmp2].length));
                if(obj.heap[tmp2][0]=="DICT"){
                    for(var j=1; j<JSON.stringify(obj.heap[tmp2].length);j++){
                        store=store+JSON.stringify(obj.heap[tmp2][j])+"<br>";
                    }
                }
                else{
                    store=obj.heap[tmp2].slice(1);
                }
                part = "<tr> <td>"+tmp +"</td>"+"<td>"+store+"</td>"+"<td>"+obj.heap[tmp2][0]+"</td>"+"</tr>";
            }
            else{
                var part = "";
                var tmp = obj.ordered_globals[i];
                var tmp2 = obj.globals[tmp];
                part = "<tr> <td>"+tmp +"</td>"+"<td>"+tmp2+"</td>"+"<td>"+typeof(tmp2)+"</td>"+ "</tr>";
            }
            result = result +"<tbody>"+ part+"</tbody>";

        }
        result = "<br>"+result+"</table>";
        highlightText(prev_prev_line,'rgba(255,255,255,0)');
        prev_prev_line = prev_line;
        highlightText(prev_line,'rgba(255,204,102)');
        prev_line = obj.line;
        highlightText(obj.line,'rgba(102,204,255)');

        return result;
    }
    function answer(obj, num, slider){
        var processed_code;
        var newP=document.getElementById("answer");
        var o = newP.parentElement;
        if(num==-1&&cnt<=0&&slider==0){
            processed_code = processing(a[cnt]);
            newP.innerHTML = processed_code;
            ShowSliderValue(cnt,0);
            o.appendChild(newP);
            return;
        }
        else if(num==1&&cnt>=total_len-1&&slider==0){
            processed_code = processing(a[cnt]);
            newP.innerHTML = processed_code
            highlightText(a[cnt]+1,'rgb(36,37,47)');
            ShowSliderValue(cnt,0);
            o.appendChild(newP);
            return;
        }
        else if(num==0&&slider==0){
            cnt=num+1;
            processed_code = processing(a[cnt]);
            visualizing(obj,cnt);
            processed_code = processing(a[cnt]);
            newP.innerHTML = processed_code;
            ShowSliderValue(cnt,0);
            o.appendChild(newP);
            visualizing(obj,cnt);
            return;
        }
        else if(num==100&&slider==0){
            cnt=total_len-1;
            processed_code = processing(a[cnt]);
            visualizing(obj,cnt);
            processed_code = processing(a[cnt]);
            newP.innerHTML = processed_code;
            visualizing(obj,cnt);
            ShowSliderValue(cnt,0);
            o.appendChild(newP);
            return;
        }
        else{
            if(slider==0){
                cnt = cnt+num;

                processed_code = processing(a[cnt]);
                newP.innerHTML = processed_code;
                ShowSliderValue(cnt,0);
                o.appendChild(newP);
            }
            else if(slider==1) {
                console.log("NUM : "+num);
                cnt = num;
                processed_code = processing(a[cnt]);
                newP.innerHTML = processed_code;
                ShowSliderValue(cnt,0);
                o.appendChild(newP);
            }
        }
        if(cnt>-1&&cnt<total_len){
            console.log("cnt : "+cnt);
            console.log("obj : "+JSON.stringify(a[cnt]));
            console.log("visualizing cnt : "+cnt);
            visualizing(obj,cnt);
        }
    }
    function play(obj){
        if(cnt==total_len-1){
            cnt=-1;
        }
        let timerId = setInterval(() => answer(obj,1,0), 100);
        var timeStop = (total_len-cnt)*105;
        setTimeout(() => { clearInterval(timerId); answer(obj,1,0); }, timeStop);
    }
    function ShowSliderValue(sVal, num) {
        var obValueView = document.getElementById("slider_value_view");
        var obSlider = document.getElementById("slider");
        var obj = document.getElementById("processing");
        var step = total_len-1;
        obSlider.max = total_len-1;
        if(num==0){
            obSlider.value = sVal;
            obValueView.innerHTML = "step "+sVal+" of "+step;
            console.log(sVal);
        }
        if(num==1){
            obSlider.value = "step "+sVal+" of "+step;
            obValueView.innerHTML = sVal;
            answer(obj, Number(sVal), 1);
        }
    }

</script>
</body>
</html>

<!--
list = [1,3,4,2,5]
list = [5,1,2,3,4]
list = [4,5,1,2,3]
list = [3,4,5,1,2]
list = [2,3,4,5,1]
list = [1,2,3,4,5]

-->
