.nav_bar{
    width : 100%;
    height : 30%;
}


body {
  font-family: Arial, sans-serif;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: orange;
  margin: 100px 0;
}
#logo{
    height : 70px;
    align:center;
    padding : 10px;
}
.box {
  display:inline;
  width: 20%;
  margin-left : 70%;
  background: rgba(255,255,255,0.2);
  padding : 5px;
  padding-bottom: 10px;
  
  border-radius: 20px/50px;
  background-clip: padding-box;
}

.button {
  background: black;
  font-size: 2em;
  padding: 10px;
  color: white;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: orange;
  color:black;
}

.button2 {
  margin-top : 10px;
  background : black;
  font-size : 1em;
  padding : 5px;
  color :white;
  border : 1px solid orange;
  border-radius : 2opx/50px;
  text-decoration : none;
  cursor : pointer;
  
}

.button2:hover {
  background:orange;
  color:black;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  font-size : 30px;
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.texts{
  border : 2px solid orange;
  height : 30px;
  font-size : 25px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
*{margin:0; padding:0;}
    ul,li{list-style:none;}
    .slide{height:300px;}
    .slide ul{width:calc(100% * 4);display:flex;animation:slide 12s infinite;} /* slide를 8초동안 진행하며 무한반복 함 */
    .slide li{width:calc(100% / 4);height:900px;}
    .slide li:nth-child(1){background-image:url("./item1.png"); object-fit: cover;}
    .slide li:nth-child(2){background-image:url("./item2.png"); object-fit: cover;}
    .slide li:nth-child(3){background-image:url("./item3.png"); object-fit: cover;}
    .slide li:nth-child(4){background-image:url("./item4.png"); object-fit: cover;}
    @keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : 정지 */
      10% {margin-left:0;} /* 10 ~ 25 : 변이 */
      25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
      35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      75% {margin-left:-300%;}
      85% {margin-left:-300%;}
      100% {margin-left:0;}
    }
